html {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

body {
    padding:0;
    margin:0;
    width:100%;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* Nav Bar */


/* all product */
.product-image{
    width:100%;

}
.box-product{
    text-decoration: none;
}
.box-product:active{
    text-decoration: none;
}
.box-product:hover{
    text-decoration: none;
}
.thumbnail{
    transition: box-shadow 0.5s ease-in-out;
}
.thumbnail:hover{
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 20%;
    height: auto;
}

/* FOOTER */
.footer{
    text-align: center;
}

.menu-footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-footer li{
    display: inline-block;
}

/*Search box Temp Text*/
.tempText{
    background-color: #2e3436;
    color:white;
    font-style: italic;
    text-align: center;
}
.myButton{
    height: 100%;
}

/*Single product*/
.single-product-title{
    font-family: 'Satisfy', cursive;

}
.single-product-des{
    font-family: 'Glegoo', serif;
}
.single-product-des > p{
    font-size: 1.2em;
}
.send{
    width:100%;
}
.social{
    width:100%;
}
.back > span{
    font-size: 2em;
    margin-top: 0.2em;
}